@import "null.css";

@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900,&display=swap");
@import url("https://fonts.googleapis.com/css?family=Philosopher:regular,italic,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Marck+Script:regular&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Stalinist+One:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Supermercado+One:regular&display=swap");

body {
	font-family: 'Philosopher';
	font-weight: 900;
	font-size: 20px;

}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	background: url("../img/1.jpg") center / cover no-repeat fixed;
}
h1 {
	font-size: 55px;
	font-family: 'Philosopher';
	font-weight: 900;
	color: chartreuse;
	text-align: center;
	margin-bottom: 200px;
}
.main {
	margin: 0px 200px 0px 200px;
}
.article {
	background-color: rgb(158, 147, 147);
	box-shadow: 0 0 30px 20px rgb(65 187 142);
	border-radius: 50px;
	margin-bottom: 200px;
	padding: 5% 10%;
}
h2 {
	font-size: 30px;
	text-align: center;
	margin-bottom: 50px;
	line-height: 1.5;
}
.color-block-one {
	max-width: 1000px;
	min-height: 150px;
	margin: 0 auto 20px auto;
	border-radius: 50px;
	background: #fff;
	border: 2px solid black;
}
.wr-article {
	text-align: right;
	margin: 0px 20px 0px 0px;
	font-size: 25px;
	color: rgb(14, 13, 13);
	margin-bottom: 60px;
}
.color-block-two {
	max-width: 1000px;
	min-height: 150px;
	margin: 0 auto 20px auto;
	border-radius: 50px;
	background: rgb(175, 25, 25);
	border: 2px solid black;
}
.wp-caption {
	border: 2px solid black;
	max-width: 1000px;
	min-height: 150px;
	border-radius: 50px;
	background: linear-gradient(90deg, rgba(131,58,180,1) 22%, rgba(253,29,29,1) 63%, rgba(252,176,69,1) 84%);
	margin-bottom: 120px;
}
.image {
	background: url("../img/2.jpg") 0 0 / cover no-repeat fixed;
	max-width: 1000px;
	min-height: 400px;
	border-radius: 50px;
	border: 2px solid black;
	box-shadow: 0 0 20px 20px;
	margin-bottom: 60px;
}
.wrap-article {
	background-color: rgb(158, 147, 147);
	box-shadow: 0 0 30px 20px rgb(196 175 27);
	border-radius: 50px;
	margin-bottom: 200px;
	padding: 5% 10%;
}
.image-block-one {
	max-width: 1000px;
	min-height: 300px;
	margin: 0 auto 20px auto;
	border-radius: 50px;
	background: url("../img/02_v1.jpg") no-repeat;
	background-size: 110px;
	border: 2px solid black;
}
.wr-article-one {
	font-family: 'Lobster';
	font-weight: 900;
	color: rgb(3, 37, 37);
	margin-bottom: 30px;
}
.image-block-two {
	max-width: 1000px;
	min-height: 300px;
	margin: 0 auto 20px auto;
	border-radius: 50px;
	background: url("../img/02_v2.jpg") repeat;
	background-size: 110px;
	border: 2px solid black;
}
.wr-article-two {
	font-family: 'Stalinist One';
	font-weight: 900;
	color: rgb(109, 61, 61);
	margin-bottom: 30px;
}
.image-block-three{
	max-width: 1000px;
	min-height: 300px;
	margin: 0 auto 20px auto;
	border-radius: 50px;
	background: url("../img/07_v1.jpg") space;
	background-size: 130px;
	border: 2px solid black
}
.wr-article-three {
	font-family: 'Supermercado One';
	font-weight: 900;
	color: rgb(93, 105, 47);
	margin-bottom: 30px;
}
.image-block-four {
	max-width: 1000px;
	min-height: 300px;
	margin: 0 auto 20px auto;
	border-radius: 50px;
	background: url("../img/07_v2.jpg") round;
	background-size: 110px;
	border: 2px solid black
}
.wr-article-four {
	font-family: 'Marck Script';
	font-size: 25px;
	font-weight: 900;
	color: rgb(40, 92, 122);
	margin-bottom: 30px;
}
.image-block-five {
	max-width: 1000px;
	min-height: 300px;
	margin: 0 auto 20px auto;
	border-radius: 50px;
	background: url("../img/04_v2.jpg") repeat-x;
	background-size: 110px;
	border: 2px solid black
}
.image-block-six {
	max-width: 1000px;
	min-height: 300px;
	margin: 0 auto 20px auto;
	border-radius: 50px;
	background: url("../img/06_v2.jpg") repeat-y;
	background-size: 110px;
	border: 2px solid black
}

.wrap-caption {
	background-color: rgb(158, 147, 147);
	box-shadow: 0 0 30px 20px rgb(240 19 213);
	border-radius: 50px;
	margin-bottom: 200px;
	padding: 5% 10%;
}
.position-block-one  {
	max-width: 100%;
	min-height: 300px;
	margin: 0px auto 20px auto;
	border-radius: 50px;
	border: 2px solid black;
	background: url("../img/Koksal.gif") rgb(71 45 85) 0 0 / auto no-repeat;
	background-size: 200px;
}
.position-block-one .list-one {
	width: 250px;
	border-radius: 50px;
}
.position-block-two {
	max-width: 100%;
	min-height: 300px;
	margin: 0px auto 20px auto;
	border-radius: 50px;
	border: 2px solid black;
	background: url("../img/Addicted.gif") rgba(21, 156, 8, 0.63) no-repeat;
	background-position: center;
	background-size: 200px;
}
.position-block-three {
	max-width: 100%;
	min-height: 300px;
	margin: 0px auto 20px auto;
	border-radius: 50px;
	border: 2px solid black;
	background: url("../img/Laugh.gif") rgba(21, 156, 8, 0.63) no-repeat;
	background-position: right bottom;
	background-size: 200px;
}
.footer a {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	font-size: 60px;
	color: rgb(100, 7, 100);
	line-height: 2;
	display: block;
	border-radius: 50px;
	box-shadow: inset 0 0 50px 40px rgb(12, 197, 172);
	margin-bottom: 30px;
}
.blank a {
	box-shadow: inset 0 0 50px 40px rgb(12, 98, 197);
	font-family: 'Lobster';
	font-weight: 900;
	color: rgb(238, 223, 12);
}
